<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509580792755-2v4biumvjai8k5qfv12d50kolvinf99s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509580792755-2v4biumvjai8k5qfv12d50kolvinf99s</string>
	<key>API_KEY</key>
	<string>AIzaSyDu3g6AbBedx1jaWyYd4BUO8VpCVh6c5Z8</string>
	<key>GCM_SENDER_ID</key>
	<string>509580792755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kana</string>
	<key>PROJECT_ID</key>
	<string>kana-expenses</string>
	<key>STORAGE_BUCKET</key>
	<string>kana-expenses.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509580792755:ios:d814ecb0c4968c806271c6</string>
</dict>
</plist>